
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body {
    padding: 0;
    margin: 0
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 1em;
}

a {
    text-decoration: none;
}

.top img {
    width: 500px;
    align-self: center;
    margin: 0;
}

.top,
.header {
    background-color: #1f2937;
    display: flex;
}

.top {
    gap: 5em;
    padding: 5em 20%;
    justify-content: space-between;
    display: flex;
}

.header {
    padding: 1em 20%;
    justify-content: space-between;
    align-items: center;
}

.hero {
    flex: 1 1 auto;
    max-width: 400px;
    margin: 0;
   display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.herologo {
    font-weight: bold;
    font-size: 24px;
    color: #f9faf8;
}

.herosecondary {
    font-size: 18px;
    color: #e5e7eb;
}

.heromain {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

button {
    align-self:     flex-start;
    background-color: #3882f6;
    color: white;
    font-weight: bold;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    border: none;
    font-size: 18px;
}
/* content: cf flex exercise 4
button placement: flex exercise 5 */
.contenttitle {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 1em auto;
    text-align: center;
}
.container {
  display: flex;
  justify-content: space-evenly;
  padding: 1em 25%;
  margin-bottom: 2em;      
}

.item {
    max-width: 200px;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    border: 3px  #3882f6 solid;
    border-radius: 3px;
}

.itemtext {
    color: #1f2937;
    font-size: 18px;
    
}
.quote {
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    line-height: 1.5;
    padding: 3em 25%;
}
.signature {
    text-align: right;
    font-weight: bold;
    font-size: smaller;
    font-style: normal;
}
.newsletter {
     background-color: #3882f6;
     margin: 5em 20%;
    display: flex;
    border-radius: 1em;
    padding: 3em 5em;
    justify-content: space-between;
    align-items: center;    
    
}
.newsletter p {
    padding: 0;
    margin: 0;
}
.newsletter button {
    border: 1px white solid;
    align-self: center
}

.top.herosecondary {
    justify-content: center;
    padding: 1em;
}
